<h1>All Posts</h1>
<% @posts.each do |post| %>
  <%=render(post)%>
<% end %>
<%== pagy_bootstrap_nav(@pagy) %>
<div class="new-post">
  <%= link_to "Create New Post", new_post_path, class: "btn btn-primary" %>
</div>
