# /Users/jonathanmeneses/Documents/TheOdinProject/development/odin-twitter/app/views/hello_mailer/hello_email.html.erb
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
  </body>
</html>